body {
  color:black;
  min-height: 100vh;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.btn-add-user, .btn-add {
  color: whitesmoke;
  font-weight: 700;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: green;
}
.hidden {
  display: none;
}

.display-none {
  display:none;
}
.container-crud-annonce {
  display: flex;
}
.container-crud-annonce :first-child {
  flex: 2 1 0;
}
.container-crud-annonce :last-child {
  flex: 1 1 0;
}
.picture-form{
  width: 150px;
}